
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: white;
        }
        /* navbar */


        nav{
            display: flex;
            align-items: center;
            height: 6rem;
            justify-content: space-around;
            background-color: rgb(241, 238, 238);
            position: static;
            width: 100%;
            box-shadow: bottom solid purple;
        }
        .left a{
            font-size: 2.5rem;
            color: black;
            text-decoration: none;
        }
        nav ul{
            display: flex;
        }
        nav ul li{
            list-style: none;
            margin: 0 2rem;
        }
        nav ul li a{
            text-decoration: none;
            color: black;
        }
        nav ul li a:hover{
            background-color: wheat ;
        }
        /* navbar end */

        /* home page start */
        .home{
            padding-left: 0;
            position: relative;
        }
        .home .slide{
            /* text-align: center; */
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover !important;
            background-position: center !important;
            min-height: 40rem;
            display: none;
        }
        .home .slide .content{
            width: 85rem;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-position: center;
            margin-top: 10rem;
            margin-left: 3rem;
        }
        .home .slide .content span{
            display: block;
            font-size: 2.2rem;
            color: floralwhite;
            padding-bottom: 1rem;
        }
        .home .slide .content h3{
            font-size: 6vw;
            color: white;
            text-transform: uppercase;
            line-height: 1;
            text-shadow: .3rem .4rem grey;
            padding: 1rem 0;
        }

        .btn{
            display: inline-block;
            background: black;
            margin-top: 1rem;
            color: white;
            font-size: 1.7rem;
            padding: 1rem 3rem;
            cursor: pointer;
            text-decoration: none;
        }
        .btn:hover{
            background-color: purple;
        }
        .arrow{
            cursor: pointer;
            position: absolute;
            top: 46%;
            color: black;
            background: rgba(255, 255, 255, 0.659);
            padding: .6rem 1.2rem;
            border-radius: 50%;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .next{
            right: .5rem;
        }
        .prev{
            left: .5rem;
        }
        .heading-title{
            padding-top: 3rem; 
            text-align: center; 
            font-size: 6rem;
            text-transform: uppercase;
            margin-bottom: 3rem;
        }
        .services .box-container{
            margin-top: 4rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
            gap: 1.5rem;
            padding-bottom: 3rem;
            text-align: center;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .services .box-container .box{
            padding: 3rem 2rem;
            text-align: center;
            background: rgba(128, 128, 128, 0.87);
            cursor: pointer;
        }
        .services .box-container .box img{
            width: 7rem;
            height: 7rem;
        }
        .services .box-container .box:hover{
            background: gold;
        }
        .services .box-container .box h3{
            /* color: white; */
            font-size: 1.7rem;
            padding-top: 1rem;
        }
        .home-about{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 3rem;
            margin-left: 3rem;
        }
        .home-about .image{
            flex: 1 1 41rem;
        }
        .home-about .image img{
            width: 100%;
        }
        .home-about .content{
            flex: 1 1 40rem;
            padding: 1.5rem;
            background: wheat;
            margin-right: 3rem;
        }
        .home-about .content h3{
            font-size: 3rem;
            color: black;
        }
        .home-about .content p{
            font-size: 1.5rem;
            padding: 1rem 0;
            line-height: 1.5;
            color: black;
        }
        .home-packages{
            background: rgba(211, 211, 211, 0.93);
        }
        .home-packages .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem,1fr));
            gap: 2rem;
            margin: 3rem 3rem;
        }
        .home-packages .box-container .box{
            border: .5rem;
            box-shadow: -3px -3px 7px 7px grey;
            background: white;
        }
        .home-packages .box-container .box .image{
            height: 14rem;
            overflow: hidden;
        }
        .home-packages .box-container .box .image img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .2s linear;
        }
        .home-packages .box-container .box .content{
            padding: 2rem;
            text-align: center;  
        }
        .home-packages .box-container .box .content h3{
            font-size: 2.5rem;
            color: black;
        }
        .home-packages .box-container .box .content p{
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.626);
            padding: .5rem 0;
        }
        .home-packages .load-more{
            text-align: center;
            margin-top: 2rem;
            padding-bottom: 3.5rem;
        }
        .home-offer{
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        .home-offer .content{
            max-width: 45rem;
            margin: 0 auto;

        }
        .home-offer .content h3{
            font-size: 3.5rem;
            text-transform: uppercase;
            color: black;
        }
        .home-offer .content p{
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.778);
            line-height: 2;
            padding: 1rem 0;
        }
        /* home page end  */


        /* about page start */
        .heading{
            background-size: cover !important;
            background-position: center !important;
            padding-top: 10rem;
            padding-bottom: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .heading h1{
            font-size: 10rem;
            text-transform: uppercase;
            color: white;
            text-shadow: .3rem .4rem grey ;
        }
        .about{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 3rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
            margin-left: 3rem;
            margin-right: 3rem;
        }
        .about .image{
            flex: 1 1 41rem;
        }
        .about .image img{
            width: 100%;
        }
        .about .content{
            flex: 1 1 41rem;
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        .about .content h3{
            font-size: 3rem;
            color: black;
        }
        .about .content p{
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.648);
            line-height: 1.2;
            padding: .5rem 0;
        }
        .about .content .icons-container{
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: flex-end;
            margin-bottom: 1.5rem;
        }
        .about .content .icons-container .icons{
            background: rgba(128, 128, 128, 0.412);
            padding: 1rem;
            flex: 1 1 9rem;
        }
        .about .content .icons-container .icons i{
            font-size: 3.5rem;
            margin-bottom: 1rem;
            color: purple;    
        }
        .about .content .icons-container .icons span{
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.515);
            display: block;
        }
        .reviews{
            background:rgba(211, 211, 211, 0.93);
            margin-top: 3rem;
            margin-bottom: 2rem;
            /* width: 25rem; */
        }
        .reviews .swiper-wrapper{
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 2rem;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        .reviews .slide{
            padding: 2rem;
            border: black;
            background: white;
            text-align: center;
            box-shadow: -3px -3px 7px 7px grey;
            user-select: none; 
            margin-bottom: 3rem;
        }
        .reviews .slide .stars{
            padding-bottom: .5rem;
        }
        .reviews .slide .stars i{
            font-size: 1.7rem;
            color: rgba(128, 0, 128, 0.642);
        }
        .reviews .slide .p{
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.758);
            line-height: 2;
            padding: 1rem 0;
        }
        .reviews .slide h3{
            font-size: 2rem;
            color: black;
        }
        .reviews .slide span{
            font-size: 1.5rem;
            color: purple;
            display: block;
            margin-top: 1rem;
        }
        .reviews .slide img{
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
        }
        /* about page end */

        /* package start */
        .packages .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem,1fr));
            gap: 2rem;
            margin: 3rem 3rem;
        }
        .packages .box-container .box{
            border: .5rem;
            box-shadow: -3px -3px 7px 7px grey;
            background: white;
            display: none;
        }
        .packages .box-container .box:nth-child(1),
        .packages .box-container .box:nth-child(2),
        .packages .box-container .box:nth-child(3),
        .packages .box-container .box:nth-child(4),
        .packages .box-container .box:nth-child(5),
        .packages .box-container .box:nth-child(6){
            display: inline-block;
        }
        .packages .box-container .box .image{
            height: 14rem;
            overflow: hidden;
        }
        .packages .box-container .box .image img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .2s linear;
        }
        .packages .box-container .box .content{
            padding: 2rem;
            text-align: center;  
        }
        .packages .box-container .box .content h3{
            font-size: 2.5rem;
            color: black;
        }
        .packages .box-container .box .content p{
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.626);
            padding: .5rem 0;
        }
        .packages .load-more{
            text-align: center;
            margin-top: 2rem;
            padding-bottom: 3.5rem;
        }        
        /* package end */

        /* book start */
        .booking .book-form{
            padding: 2rem;
            background: rgba(211, 211, 211, 0.93);
            margin-bottom: 3rem;
        }
        .booking .book-form .flex{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
        .booking .book-form .flex .inputBox{
            flex: 1 1 41rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
        .booking .book-form .flex .inputBox input{
            width: 100%;
            height: 3rem;
            padding-left: 1rem;
            column-gap: 2rem;
            font-size: 1.6rem;
            color: rgba(0, 0, 0, 0.674);
            text-transform: none;
            margin-top: 1.5rem;
            border: black;
        }
        .booking .book-form .flex .inputBox input:focus{
            background: black;
            color: white;
        }
        .booking .book-form .flex .inputBox input:focus::placeholder{
            background: black;
            color: rgba(255, 255, 255, 0.534);
        }
        .booking .book-form .flex .inputBox span{
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.682);
        }
        .booking .book-form .btn{
            margin-top: 2rem;
            margin-left: 1.5rem;
        }
        /* book end */














        /* footer */
        footer{
            background: url("https://cdn.pixabay.com/photo/2019/11/02/17/56/star-4597021_1280.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            text-align: center;
        }
        footer .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
            gap: 3rem;
            align-items: center;
        }
        footer .box-container .box h3{
            border-top: .3rem solid grey;
            border-radius: 1rem;
            color: gold;
            font-size: 1.5rem;
            padding-bottom: 2rem;
            padding-left: 2rem;
            margin-top: 2rem;
        }
        footer .box-container .box a{
            color:white ;
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
            display: block;
            padding-left: 2rem;
            text-decoration: none;
        }
        footer .box-container .box a {
            /* color: aliceblue; */
            padding-right: .5rem;
            transition: .2s linear;
        }
        footer .box-container .box a:hover {
            padding-right: 2rem;
        }
        hr{
            margin-top: 3rem;
            margin-left: 5rem;
            margin-right:5rem;
            color:grey;
        }
        footer .credit{
            text-align: center;
            margin-top: 2rem;
            padding-bottom: 3rem;
            font-size: 2rem;
            color: white;
        }
        footer .credit span{
            color: goldenrod;
        }
         /* footer end */